/* main.css */

.img {      
    border-block-end-width: 0vmax;
}
  .button background-linear-Gradient(blue-gold);
  background-color: 
  transition: background-color 0.4s;
  border-color: blue;
}

.h1 {
  font-family: 'Helvetica Neue' Arial, Helvetica, sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 25%;
}

.h2 {
  font-family: 'helvetica Neau' Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.h3 {
  font-family: 'helvetica Neau' Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

.header {
  background-color: hsl(313, 100%, 50%);
  text-align: center;
  padding: 2%;
}

.tagline {
  background-color: rgba(19, 18, 18, 0.904);
  text-align: center;
  color: white;
}

.h3 {
  margin: 5% text-align left;

}

.ul {
  padding: 5;
  margin: 3%;
  text-align: ;
}
.article: {
  boarder: 1px solid #blue;
}
